p#ptsans{
  font-family: "PT Sans", sans-serif;
}

p#notosans{
  font-family: "Noto Sans", sans-serif;
}

p#abel{
  font-family: "Abel", sans-serif;
}

p#varelaround{
  font-family: "Varela Round", sans-serif;
}

h3#titilliumweb{
  font-family: "Titillium Web", sans-serif;
}

h3#cabin{
  font-family: "Cabin", sans-serif;
}

h3#oxygen{
  font-family: "Oxygen", sans-serif;
}
