/*
.color-primary-0 { color: #23497A }	Primary color, midnight blue
.color-primary-1 { color: #013474 } Accent color, navy
.color-primary-2 { color: #0C72F6 } Highlight/select color, light blue
.color-primary-3 { color: #0A0E13 } Icon deselect/accent color
.color-primary-4 { color: #5F646A } tertiary accent/text color
background color: #FFFFFF

Color scheme is made of up muted blues, it is soft and works well with a darker
background color, white backgrounds also work well it's just a bit harsher on
the eyes but allows for more flexibility later down the road, so that was chosen.
Blue is generally an agreeable color and is neither too bright nor too dull.
*/

body {
	background-color: #FFFFFF;
}

div#container {
	width:100%;
    margin-left: auto;
    margin-right: auto;
} 

/* about section styling */ 
.aboutcol {
	position: static; 
	float: left;
	height: 100%;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: black;	
	background-color: #FFFFFF;
}

#portrait {
	position: absolute;
	right: 20px; 
	top: 80px; 
	width: 30%; 
	max-height: 160px;  
	max-width: 160px; 
	padding: 5px; 
}

#profile {
	width: 80%; 
}

p#personalinfo {
	color: #0C72F6; 
}

/* coursework section styling */ 
.coursework{
	position: relative;
	width: 100%;
    float: left; 
	padding: 20px; 
	border-width: 1px;
    border-style: solid;
    border-color: black;
	background-color: #A3A3A3; 
} 

.coursework p{
	color: #FFFFFF;
} 

/* projects section styling */ 
.projects{
	position: relative; 
}

.project{
	float: left;
	width: 100%;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: black;	
}

.project2{
	float: left;
	width: 100%;
	padding: 20px; 
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.project3{
	float: left;
	width: 100%;
	padding: 20px; 
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.projects p {
	text-align: center;
	color: #FFFFFF; 
}

/* general styling */ 
p {
	color: #5F646A;
	font-family: "PT Sans", sans-serif;
}

a {
	color: #0A0E13;
	font-family: "PT Sans", sans-serif;
}

h1 {
	color: #FFFFFF;
	background-color: #5F646A;
	font-family: "Oxygen", sans-serif;
	font-weight: 400;
}

h2 {
	color: #013474;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
}

h3 {
	color: #5F646A;
	font-family: "Cabin", sans-serif;
	font-style: italic;
}

h4 {
	color: #5F646A
	font-family: "Oxygen", sans-serif;
}

/* media functions for page resizing */
@media (min-width: 992px) {
	.aboutcol {
		width: 50%;
	} 
	.projects h2 {
		color: #FFFFFF;
	} 
	.project {
		width: 33.33%;
		text-align: left;
		background-color: #013474;		
	} 
	.project2 {
		width: 33.33%;
		text-align: center;
		background-color: #013474;		
	} 
	.project3 {
		width: 33.33%;
		text-align: right;
		background-color: #013474;		
	} 
} 
@media (max-width: 991px) and (min-width:768px) {
	.aboutcol {
		width: 50%;
	} 
	.projects h2 {
		color: #FFFFFF;
	} 
	.project {
		width: 50%;
		text-align: left; 
		background-color: #013474;
	} 
	.project2 {
		width: 50%;
		text-align: right; 
		background-color: #013474;
	} 
	.project3 {
		width: 100%;
		text-align: center;
		background-color: #A3A3A3;		
	} 
} 
@media (max-width: 767px) {
	.aboutcol {
		width: 100%; 
	}
	.projects h2 { 
		color: #FFFFFF;
	}
	.project {
		width: 100%;
		text-align: left; 
		background-color: #013474;
	} 
	.project2 {
		width: 100%;
		text-align: left; 
		background-color: #FFFFFF;
	} 
	.project2 h2 {
		color: #013474; 
	}
	.project2 p {
		color: #5F646A; 
	}
	.project3 {
		width: 100%;
		text-align: left; 
		background-color: #013474;
	} 
}
