.navbarItem {
  color: white;
}

.navbarItem .active {
  color: #013474 !important;
  background-color: white;
}

.navbarHeader {
	background-color: #013474;
}

.navbarMenu {
  background-color: #013474;
}
